* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_24pt-Medium.ttf);
    font-display: swap;
}

@font-face {
    font-family: Kuunari;
    src: url(../fonts/Mika\ Melvas\ -\ Kuunari\ Bold.otf);
    font-display: swap;
}

@font-face {
    font-family: Hecativas;
    src: url(../fonts/hecativas-bold-subset\ \(2\).woff2);
    font-display: swap;
}


